* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  border: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
  }

  &__wrapper {
    max-width: 1440px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    overflow: auto;
    flex: 1;
  }
}

a {
  text-decoration: none;
  color: var(--text-primary)
}

.text {
  &_grey {
    color: grey;
  }

  &_italic {
    font-style: italic;
  }

  &_center {
    text-align: center;
  }
}