.button {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  padding: 10px 20px;
  background-color: white;
  transition: var(--default-transition);
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &__icon {
    color: var(--text-primary);

    &_right {
      padding-left: 15px;
    }
  }

  &_center {
    justify-content: center;
  }

  &_primary {
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-hover-color);
    }
  }

}

.link {
  transition: var(--default-transition);

  &:hover {
    color: white;
  }

  &_white {
    color: white;

    &:hover {
      color: var(--text-primary);
    }
  }

}

.form {
  &__file {
    min-width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__input {
    &:first-child {
      margin-top: 0;
    }
    margin-top: 20px;
  }
}